<a href="https://colab.research.google.com/github/Joing1116/FINAL-CLASS/blob/main/0713.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
my_list = []  # 创建一个空列表
my_list = [1, 2, 3]  # 创建一个包含整数的列表
my_list = ['apple', 'banana', 'cherry']  # 创建一个包含字符串的列表
my_list = [1, 'apple', True]  # 创建一个包含不同类型元素的列表

In [5]:
type(my_list)

list

In [6]:
my_set = set()  # 创建一个空集合
my_set = {1, 2, 3}  # 创建一个包含整数的集合
my_set = {'apple', 'banana', 'cherry'}  # 创建一个包含字符串的集合

In [7]:
type(my_set)

set

In [8]:
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}
print(my_dict['name'])  # 输出: 'John'
print(my_dict['age'])  # 输出: 30

John
30

In [9]:
type(my_dict)

dict